* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /*--------------end of css reset----------------*/

body {
font-family: 'Poppins', sans-serif;  
}

.back {
position: relative;
width: 100vw;
height: 100vh;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

#yellow {
    background-color: #efd592;
}

#bt1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #242d38;

    color: #efd592;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.2em;
    font-weight: 300;
}

#bt2 {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 60px;

    border: 6px solid #242d38;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: #242d38;
}

/*------------end of #yellow section----------------*/

#blue {
    background-color: #4343f9;
}

#bt3 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 60px;
    box-shadow: 3px 3px 20px #2a2aa385, -3px -3px 20px #2a2aa385;

    background-color: #4343f9;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: capitalize;
}